@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
}

@import 'bloks/subheader';
@import 'bloks/menu';
@import 'bloks/promo';