.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;

    &__link {
        color: #ffff;
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
    }
    &__item {
        border-right: 2px dotted black;
        padding-right: 28px;
    }
}